<!DOCTYPE html>
<html>
  <head>
    <%- include("../master/head.ejs") %>
    <!-- Bootstrap -->
  </head>
  <body>
    <div id="wrap" class="wrap hidden">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="container_body"></div>
      <!--하단1-->
      <%- include("../master/footer.ejs") %>
    </div>
  </body>
</html>
