<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>농업병행 태양광발전 모니터링</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <!-- 부트스트랩 -->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.1.1.min.js"></script>
    <link href="css/StyleSheet.css" rel="stylesheet" />


    <style>

               @media all and (max-width: 991px)and (min-width: 943px) { 
      .containera{margin-top:50px!important;}} 

                                      @media all and (max-width: 942px)and (min-width: 320px) { 
             .containera{ display: flex; flex-direction: column; margin-top:50px;}
             .years{display: flex; flex-direction: column; width:95%;}
             .serch_st{display: flex; flex-direction:row; width:100%;  }
             .title {
    display: flex!important;
    flex-direction: column!important;
    width: 100%;
} 
                /*@media screen and (max-width: 640px) {

            .col-xs-4{width:95%!important; }
}*/





           .containera{ display: flex; flex-direction: column; }


    </style>

</head>
<body>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="js/bootstrap.min.js"></script>


    <!--네비-->
    <div class="wrap" style="background-image: url('image/bg_1025.jpg'); background-color:#e9e9e9;">


        <div class="center">
            <header>
                <div class="header_top"><a href="login.html">login</a></div>



                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand tit_1" href="#">

                                농업병행 태양광발전 모니터링
                            </a>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="inverter.html">인버터</a></li>
                                <li class="active"><a href="#">생육환경</a></li>
                                <li ><a href="trend.html">트랜드</a></li>
                                <li><a href="report.html">보고서</a></li>


                            </ul>
                            <!--<ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>-->
                        </div>
                    </div>
                </nav>

                <div class="row" style="height:50px; max-width:1024px; margin:0 auto;">
                    <div class="col-md-6 header_w_r">


                        <form>
                            <select name="city" class="city">
                                <option value="naju">10kW급 테스트베드(나주)</option>
                                <option value="Boseong">10kW급 테스트베드(보성)</option>
                                <option value="gangjin">10kW급 테스트베드(강진)</option>
                                <option value="ochang">10kW급 테스트베드(오창)</option>
                                <option value="yeongheung">10kW급 테스트베드(영흥)</option>
                            </select>
                        </form>



                    </div>

                    <div class="col-md-6 header_w_r">

                        <!--<div class="weder" style="float:right;">
                    <img style="color:#fff; margin-top:4px; margin-right:10px; float:left;" src="image/con_w.png" />
                    <p style="color:#fff;  margin-top:15px; float:left; margin-right:10px;">날씨</p>

                    <input style="color:#333; float:left; margin-right:5px;" class="wed" type="text" value="12">

                    <p style="color:#fff; margin-top:15px; float:left; ">℃</p>
                </div>-->

                        <div class="nav_row_st_right">
                            <span style="margin-right:40px;" id="today">2018.10.29(월)</span>
                            <script>
            var today = new Date();
            var week = new Array('일', '월', '화', '수', '목', '금', '토');
            $('#today').html(today.getFullYear() + '.' + (today.getMonth() + 1) + '.' + today.getDate() + '(' + week[
              today.getDay()] + ')');


                            </script>
                            <span>날씨</span>

                            <img src="image/weather_5.png">
                            <!-- <img src="image/weather_1.png" /> -->

                            <input type="text" class="form-control" style="text-align: center" value="15">
                            <span class="Temperature">℃</span>
                        </div>



                    </div>
                </div>
            </header>

            <!--메인-->
            <div class="containera">
                <div class="text-center" style="background-color:#fff; height:auto; padding:5px; background-color: rgba(242,242,242,1);">



                    <div class="title">
                        <p>작물 생육환경</p>

                    </div>


                    <div class="table-responsive" style="overflow-x:visible;">
                        <table class="table table-bordered" style="width:100%; background:#fff;">
                            <thead>
                                <tr>
                                    <th scope="col" style="width:18%"></th>
                                    <th scope="col" style="text-align:center; width:7%">조도(lx)</th>
                                    <th scope="col" style="text-align:center; width:7%">이산화탄소(ppm)</th>
                                    <th scope="col" style="text-align:center; width:7%">토양수분(%)</th>
                                    <th scope="col" style="text-align:center; width:7%">토양온도(℃)</th>
                                    <th scope="col" style="text-align:center; width:7%">토양습도(%)</th>
                                    <th scope="col" style="text-align:center; width:7%">외기온도(℃)</th>
                                    <th scope="col" style="text-align:center; width:7%">외기습도(%)</th>
                                    <th scope="col" style="text-align:center; width:7%">수평일사량(w/m2)</th>
                                    <th scope="col" style="text-align:center; width:7%">풍향</th>
                                    <th scope="col" style="text-align:center; width:7%">풍속(kW/h)</th>
                                    <th scope="col" style="text-align:center; width:6%">강우량(mm/hr)</th>
                                    <th scope="col" style="text-align:center; width:6%">강우상황</th>
                                </tr>

                            </thead>


                            <tbody>



                                <tr>
                                    <th scope="row">나주(고정형)태양광 하부</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td rowspan="7"></td>
                                    <td rowspan="7"></td>
                                    <td rowspan="7"></td>
                                    <td rowspan="7"></td>
                                    <td rowspan="7"></td>
                                    <td rowspan="7"></td>
                                    <td rowspan="7"></td>
                                </tr>
                                <tr>
                                    <th scope="row">나주(고정형)외곽</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <th scope="row">나주(가변형)태양광 하부</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <th scope="row">나주(가변형)외곽</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <th scope="row">나주(수평)태양광 하부</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <th scope="row">나주(수평)외곽</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <th scope="row">나주 외기 환경</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>

                                <tr>
                                    <th scope="row"> 보성(차) </th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="2"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>

                                <tr>
                                    <th scope="row"> 강진(사료) </th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="2"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <th scope="row">오창</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="2"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <th scope="row">영흥</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="2"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>



            </div>

       


            <!--하단1-->
            <div class="container-fluid bg-3 text-center">

            </div><br>


            <footer class="container-fluid text-center" style="background-color:rgba(242,242,242,0.9); ">
                <p>에스엠소프트웨어(주)</p>
            </footer>
        </div>
    </div>
</body>
</html>
