/***************************************/
/************ Header Master ************/
/***************************************/
.container-fluid {
  background: linear-gradient(#fbfbfb, #e8e8e8);
  width: 100%;
}

.max_w1024 {
  max-width: 1024px;
  margin: 0 auto;
}

.header_home_area {
  padding: 15px 15px 15px;
  color: #333 !important;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.header_home_area > img {
  width: 30px;
  height: 30px;
  margin: 0px;
  margin-right: 5px;
}

.header_home_area > span {
  font-size: 1.7rem;
}

.navbar-inverse .navbar-nav > li:hover {
  background: #080808;
}

.header_sub_area {
  background: linear-gradient(to bottom, #343535, #272727);
}

/* Site 선택지 */
.siteList {
  height: 30px;
  padding-left: 10px;
  background: #fff;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 3px;
}

.siteList option {
  background: #fff;
}

/***************************************/
/************** Container **************/
/***************************************/
.container_body {
  max-width: 90%;
  min-height: 700px;
  margin-bottom: 1rem;
  margin-left: 5%;
  padding: 0;
  flex: 1;
}

.container_row {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}

.component_side_box {
  width: 20%;
  height: 350px;
}

.flex_dir_col {
  flex-direction: column;
}

.flex_jus_end {
  justify-content: flex-end;
}

/***************************************/
/*         Container - Side            */
/***************************************/
.power_img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/***************************************/
/********** Dash Board 영역 ************/
/***************************************/
.component_piece_box {
  width: 40%;
  height: 350px;
}

.component_piece_area {
  display: flex;
  flex-direction: column;
  height: 98%;
  width: 98%;
}

.component_piece_area > header {
  margin: 0;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
}

.gauge_chart {
  height: 75%;
}

.component_piece_body {
  height: 87%;
  overflow-y: auto;
  padding: 0 1rem;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.component_piece_body > .gauge_contents {
  padding: 0 2rem;
  height: 25%;
  position: relative;
  bottom: 2.2rem;
}

.component_piece_body input {
  background: transparent;
}

/* 센서 데이터 뷰 */
.sensor_data_view {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  height: 2em;
}

.sensor_data_view > p {
  margin: 0;
}

.sensor_data_view > p:first-child {
  text-align: left;
  font-size: 0.9em;
}
.sensor_data_view > p:nth-child(2) {
  text-align: right;
  font-size: 1.1em;
  /* color: #93d30a; */
}
.sensor_data_view > p:last-child {
  text-indent: 0.5rem;
  text-align: left;
  font-size: 0.8em;
}

/***************************************/
/************** Table 영역 *************/
/***************************************/

.elipsis {
  word-break: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Numerical Talbe 수치 테이블   */
.number_table {
  table-layout: fixed;
  overflow-x: visible;
  margin-bottom: 0;
}

.number_table thead th {
  word-break: keep-all;
  /* white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */
}

.number_table tbody {
  text-align: right;
}

.number_table tbody td:first-child {
  text-align: left;
  word-break: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table_desc_area {
  margin: 0.5rem 0;
  padding: 0 1rem;
  height: 3rem;
  color: #fff;
  display: flex;
  align-items: center;
  width: max-content;
  width: intrinsic;
  width: -webkit-fit-content;
  width: -moz-max-content;
  width: -o-max-content;
}

/* 센서 데이터 뷰 50% 40% 10% */
article.sdv_w541 > p:first-child {
  width: 50%;
}
article.sdv_w541 > p:nth-child(2) {
  width: 40%;
}
article.sdv_w541 > p:last-child {
  width: 10%;
}

article.sdv_w_side > p:first-child {
  width: 45%;
  white-space: nowrap;
  overflow: hidden;
}
article.sdv_w_side > p:nth-child(2) {
  width: 32%;
}
article.sdv_w_side > p:last-child {
  width: 23%;
}

/* 한 행에 2개의 센서 데이터가 들어갈 경우 */
/* Sensor Data Dual View(SDDV) */
.sddv_w35 > article {
  width: 35%;
}

/* 검색 박스 */
.search_area {
  display: flex;
  justify-content: start;
  padding: 1rem;
}

.search_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
}

.search_box > .search_title {
  font-size: 1.5rem;
  height: 2.3rem;
}

.search_box > .btn {
  width: 10rem;
  height: 80%;
  font-size: 2rem;
  text-align: center;
  border-radius: 1rem;
  transition: all 0.4s ease;
}

.search_box input {
  height: 34px;
  width: 100px;
  border-radius: 3px;
  text-align: center;
}

.search_range_box {
  width: 15%;
  min-width: 130px;
}

.search_interval_box {
  width: 10%;
  min-width: 100px;
}

/***************************************/
/************ Common *************/
/***************************************/

/***************************************/
/************ Font-Size Rem ************/
/***************************************/
.fs_100rem {
  font-size: 1rem !important;
}

.fs_120rem {
  font-size: 1.2rem !important;
}

.fs_130rem {
  font-size: 1.3rem !important;
}

.fs_150rem {
  font-size: 1.5rem !important;
}

.fs_170rem {
  font-size: 1.7rem !important;
}

.fs_200rem {
  font-size: 2rem !important;
}

/***************************************/
/************ Font-Size EM *************/
/***************************************/
.fs_120em {
  font-size: 1.2em !important;
}

.fs_150em {
  font-size: 1.5em !important;
}

/***************************************/
/**************** Color ****************/
/***************************************/
.color_green {
  color: #93d30a;
}

.w_10per {
  width: 10%;
}

.w_20per {
  width: 20%;
}

.w_40per {
  width: 40%;
}

.w_90per {
  width: 90%;
}

.w_100per {
  width: 100%;
}

.mt0 {
  margin-top: 0;
}

@media all and (max-width: 942px) {
  .container_body {
    max-width: none;
    margin: auto 0;
  }

  .container_row {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
  }

  .component_side_box {
    width: 100%;
    height: auto;
  }
  .component_piece_box {
    width: 100%;
  }

  .component_side_area,
  .component_piece_area {
    width: 100%;
    height: 100%;
    box-shadow: none;
  }

  .table_desc_area {
    text-indent: 0;
    width: 100%;
    justify-content: center;
  }

  .table {
    table-layout: auto;
  }
}

@media all and (max-width: 942px) and (min-width: 551px) {
  .header_w_r:first-child {
    border-bottom: 1px solid #807a7a;
  }

  .data_view_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .data_view_section .sensor_data_view {
    width: 40%;
  }
}

@media all and (max-width: 700px) {
  .search_area {
    flex-direction: column;
  }

  .search_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 1rem 3%;
  }

  .search_box .search_title {
    text-align: right;
    margin-right: 2rem;
    width: 20%;
  }

  .search_box select {
    width: 80%;
  }

  .search_box > .btn {
    width: 100%;
    margin: 0;
  }
}

@media all and (max-width: 550px) {
  .header_w_r:first-child {
    border-bottom: 1px solid #807a7a;
  }

  .header_w_r {
    padding-left: 1rem;
  }

  .data_view_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .data_view_section .sensor_data_view {
    width: 50%;
  }
}
