<!DOCTYPE html>
<html>
  <head>
    <!-- Default Js -->
    <%- include("../master/head.ejs") %>
  </head>

  <body>
    <div id="wrap" class="wrap hidden">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="container_body">
        <div class="container_header">
          <div id="subCategoryDom" class="report_category"></div>
          <div><button class="btn btn-warning" id="monitoring_mode">모니터링 모드</button></div>
        </div>
        <div class="container_row ">
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>금일 발전량 트렌드</header>
              <div id="section_1" class="component_piece_body p_column_rem"></div>
            </article>
          </div>
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>금일 환경 트렌드</header>
              <div id="section_2" class="component_piece_body p_column_rem"></div>
            </article>
          </div>
        </div>
        <div class="container_row ">
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>지난 3일간 발전량 트렌드</header>
              <div id="section_3" class="component_piece_body p_column_rem"></div>
            </article>
          </div>
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>지난 3일간 환경 트렌드</header>
              <div id="section_4" class="component_piece_body p_column_rem"></div>
            </article>
          </div>
        </div>
      </div>
      <!--하단1-->
      <%- include("../master/footer.ejs") %>
    </div>

    <script>
      $('#subCategoryDom').html(<%- JSON.stringify(dom.subCategoryDom) %>);
    </script>

    <script src="/js/contents/report/search.js"></script>
  </body>
</html>
