<footer class="footer_area">
  <div>
    <p class="footer_copyright">Copyright © 2019. EAN All Rights Reserved.</p>
    <p class="footer_logo">
      <img height="50" src="/image/main/ean_bg.png" />

    </p>
  </div>
</footer>