<title id="projectTitle"></title>
<meta charset="utf-8">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
<script src="/js/lodash.min.js"></script>

<!-- Default Publishing -->
<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.1.1.min.js"></script>

<link href="/css/template/common.css" rel="stylesheet" />

<script src="/js/moment.min.js"></script>
<!-- DatePicker -->
<link href="/css/datepicker3.css" rel="stylesheet" />
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/bootstrap-datepicker.kr.js"></script>
<script src="/js/common-html/date-picker.js"></script>

<!-- 차트 관련 -->
<script src="/js/hichart/hichart.js"></script>
<!-- <script src="/js/hichart/highcharts.src.js"></script> -->
<script src="/js/hichart/highcharts-more.js"></script>
<script src="/js/hichart/solid-gauge.js"></script>

<link href="/css/template/normal-theme.css" rel="stylesheet" />