<footer class="footer_area">
  <div>
    <img height="30" src="/image/icon/kepco_f_logo.jpg" />
    <address class="footer_logo">
      (우) 58217 전라남도 나주시 전력로 55 (빛가람동 120) Copyright@2017 KEPCO. All Rights Reserved.
    </address>
    <!-- <span>Copyright@2017 KEPCO. All Rights Reserved.</span> -->
    <!-- <p class="footer_logo">
      <img width="30" height="30" src="/image/common/sm_logo.png" />
      <span>에스엠소프트웨어(주)</span>
    </p> -->
  </div>
</footer>
