<!DOCTYPE html>
<html>

<head>
    <!-- Default Js -->
    <script src="js/lodash.min.js"></script>
    <%- include("../master/head.ejs") %>
    <script src="js/hichart/highcharts.src.js"></script>
    <script src="js/hichart/highcharts-more.js"></script>
    <script src="js/hichart/solid-gauge.js"></script>
    <script src="js/contents/main/powerstatus.js"></script>
    <script src="js/contents/main/makeGaugeChart.js"></script>
    <script src="js/contents/main/setMenu.js"></script>
</head>

<body>
    <!--네비-->
    <div style="background-image: url('image/bg_1025.jpg'); background-color:#e9e9e9;">
        <div class="warp">
            <%- include("../master/header.ejs") %>
            <!--메인-->
            <div class="containerb text-center" style="background-color:#fff; height:auto;">
                <div class="row row_width  top_box" style="padding:5px;">
                    <div class="col-xs-4 years" style="margin:15px 0 15px 0; background-color:#90bfe6; height:30px;">
                        <div id="sel_type_div_area" class="input_st">
                            <label class="radio-inline">
                                <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="hour">일일
                            </label>
                            <label class="radio-inline">
                                <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="day">월간
                            </label>
                            <label class="radio-inline">
                                <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="month">년간
                            </label>
                            <label class="radio-inline">
                                <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="range">기간선택
                            </label>
                        </div>
                    </div>
                    <div class="serch_st sel_box_data" style="margin-top:10px; float:right; margin-right:10px;">
                        날짜 &nbsp;
                        <input class="input_tre" name="start" id="start_date_input" type="text" readonly="">
                        <input class="input_tre" name="end" id="end_date_input" type="text" readonly="" hidden="hidden"
                            style="display: none;">
                        <button type="button" class="btn btn-primary" onclick="searchTrend()" style="margin-bottom:3px; height:28px; margin-right:20px;"
                            id="search">검색</button>
                        <input class="title_trend_exc_in" type="submit" value="Download Excel" onclick="doit('xlsx');">
                    </div>
                </div>
                <div class="table-responsive" style="padding:5px; overflow-x:visible;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">강우상황</th>
                                <th scope="col">외기온도</th>
                                <th scope="col">외기습도</th>
                                <th scope="col">풍향</th>
                                <th scope="col">풍속</th>
                                <th scope="col">강우량</th>
                                <th scope="col">외부일사량</th>
                                <th scope="col">하부일사량</th>
                                <th scope="col">외부토양온도</th>
                                <th scope="col">하부토양온도</th>
                                <th scope="col">외부토양습도</th>
                                <th scope="col">하부토양습도</th>
                                <th scope="col">외부EC</th>
                                <th scope="col">하부EC</th>
                                <th scope="col">외부CO₂</th>
                                <th scope="col">외부CO₂</th>
                                <th scope="col">외부조도</th>
                                <th scope="col">하부조도</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">나주(배)</th>
                                <td> </td>
                                <td>℃</td>
                                <td>%</td>
                                <td>북서</td>
                                <td>m/s</td>
                                <td>mm</td>
                                <td>W/㎥</td>
                                <td>W/㎥</td>
                                <td>℃</td>
                                <td>℃</td>
                                <td>%</td>
                                <td>%</td>
                                <td>ds/m</td>
                                <td>ds/m</td>
                                <td>ppm</td>
                                <td>ppm</td>
                                <td>lux</td>
                                <td>lux</td>
                            </tr>
                            <tr>
                                <th scope="row">나주(배추)</th>
                                <td> </td>
                                <td>℃</td>
                                <td>%</td>
                                <td>북서</td>
                                <td>m/s</td>
                                <td>mm</td>
                                <td>W/㎥</td>
                                <td>W/㎥</td>
                                <td>℃</td>
                                <td>℃</td>
                                <td>%</td>
                                <td>%</td>
                                <td>ds/m</td>
                                <td>ds/m</td>
                                <td>ppm</td>
                                <td>ppm</td>
                                <td>lux</td>
                                <td>lux</td>
                            </tr>
                            <tr>
                                <th scope="row">나주(양파)</th>
                                <td> </td>
                                <td>℃</td>
                                <td>%</td>
                                <td>북서</td>
                                <td>m/s</td>
                                <td>mm</td>
                                <td>W/㎥</td>
                                <td>W/㎥</td>
                                <td>℃</td>
                                <td>℃</td>
                                <td>%</td>
                                <td>%</td>
                                <td>ds/m</td>
                                <td>ds/m</td>
                                <td>ppm</td>
                                <td>ppm</td>
                                <td>lux</td>
                                <td>lux</td>
                            </tr>
                            <tr>
                                <th scope="row">보성(차)</th>
                                <td> </td>
                                <td>℃</td>
                                <td>%</td>
                                <td>북서</td>
                                <td>m/s</td>
                                <td>mm</td>
                                <td>W/㎥</td>
                                <td>W/㎥</td>
                                <td>℃</td>
                                <td>℃</td>
                                <td>%</td>
                                <td>%</td>
                                <td>ds/m</td>
                                <td>ds/m</td>
                                <td>ppm</td>
                                <td>ppm</td>
                                <td>lux</td>
                                <td>lux</td>
                            </tr>
                            <tr>
                                <th scope="row">강진(사료)</th>
                                <td> </td>
                                <td>℃</td>
                                <td>%</td>
                                <td>북서</td>
                                <td>m/s</td>
                                <td>mm</td>
                                <td>W/㎥</td>
                                <td>W/㎥</td>
                                <td>℃</td>
                                <td>℃</td>
                                <td>%</td>
                                <td>%</td>
                                <td>ds/m</td>
                                <td>ds/m</td>
                                <td>ppm</td>
                                <td>ppm</td>
                                <td>lux</td>
                                <td>lux</td>
                            </tr>
                            <tr>
                                <th scope="row">오창</th>
                                <td> </td>
                                <td>℃</td>
                                <td>%</td>
                                <td>북서</td>
                                <td>m/s</td>
                                <td>mm</td>
                                <td>W/㎥</td>
                                <td>W/㎥</td>
                                <td>℃</td>
                                <td>℃</td>
                                <td>%</td>
                                <td>%</td>
                                <td>ds/m</td>
                                <td>ds/m</td>
                                <td>ppm</td>
                                <td>ppm</td>
                                <td>lux</td>
                                <td>lux</td>
                            </tr>
                            <tr>
                                <th scope="row">영흥</th>
                                <td> </td>
                                <td>℃</td>
                                <td>%</td>
                                <td>북서</td>
                                <td>m/s</td>
                                <td>mm</td>
                                <td>W/㎥</td>
                                <td>W/㎥</td>
                                <td>℃</td>
                                <td>℃</td>
                                <td>%</td>
                                <td>%</td>
                                <td>ds/m</td>
                                <td>ds/m</td>
                                <td>ppm</td>
                                <td>ppm</td>
                                <td>lux</td>
                                <td>lux</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--하단1-->
            <div class="container-fluid bg-3 text-center">
            </div><br>
            <%- include("../master/footer.ejs") %>
        </div>
    </div>
</body>

</html>