<!DOCTYPE html>
<html>

<head>
  <!-- Default Js -->
  <script src="js/lodash.min.js"></script>
  <%- include("../master/head.ejs") %>
  <%- include("./mediaQuery.ejs") %>
  <script src="js/contents/master/mainUtil.js"></script>
</head>

<body>
  <div class="wrap" style="background-image: url('image/bg_1025.jpg'); background-color:#e9e9e9;">
    <div class="center">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="containera">
        <div class="text-center" style="background-color:#fff; height:auto;">
          <div class="row row_width  top_box" style="padding:5px;">
            <div class="col-xs-4 years" style="margin:15px 0 15px 0; background-color:#90bfe6; height:30px;">
              <div id="sel_type_div_area" class="input_st">
                <label class="radio-inline">
                  <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="hour">일일
                </label>
                <label class="radio-inline">
                  <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="day">월간
                </label>
                <label class="radio-inline">
                  <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="month">년간
                </label>
                <label class="radio-inline">
                  <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="range">기간선택
                </label>
              </div>
            </div>
            <div class="serch_st sel_box_data">
              날짜 &nbsp;
              <input class="input_tre" name="start" id="start_date_input" type="text" readonly="">
              <input class="input_tre" name="end" id="end_date_input" type="text" readonly="" hidden="hidden" style="display: none;">
              <button type="button" class="btn btn-primary" onclick="searchTrend()" id="search">검색</button>
              <input type="image" src="image/2000px-Microsoft_Excel_2013_logo.svg.png" class="exc" onclick="doit('xlsx');">
            </div>
          </div>
          <div class="table-responsive" style="overflow-x:visible;">
            <table class="table table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th scope="col" style="text-align:center; width:10%">시간</th>
                  <th scope="col" style="text-align:center; width:14%">장소</th>
                  <th scope="col" style="text-align:center; width:8%">발전량(kWh)</th>
                  <th scope="col" style="text-align:center; width:8%">경사일사량(w/m2)</th>
                  <th scope="col" style="text-align:center; width:8%">조도(lx)</th>
                  <th scope="col" style="text-align:center; width:8%">이산화탄소(ppm)</th>
                  <th scope="col" style="text-align:center; width:8%">토양수분(%)</th>
                  <th scope="col" style="text-align:center; width:8%">토양온도(℃)</th>
                  <th scope="col" style="text-align:center; width:8%">토양습도(%)</th>
                  <th scope="col" style="text-align:center; width:6%">외기온도(℃)</th>
                  <th scope="col" style="text-align:center; width:6%">외기습도(%)</th>
                  <th scope="col" style="text-align:center; width:4%">수평일사량(w/m2)</th>
                  <th scope="col" style="text-align:center; width:4%">풍속(kW/h)</th>
                  <th scope="col" style="text-align:center; width:4%">강우량(mm/hr)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2018-10-15 14:55:00</td>
                  <th scope="row">나주(고정형)태양광 하부</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td rowspan="7"></td>
                  <td rowspan="7"></td>
                  <td rowspan="7"></td>
                  <td rowspan="7"></td>
                  <td rowspan="7"></td>
                </tr>
                <tr>
                  <td></td>
                  <th scope="row">나주(고정형)외곽</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <th scope="row">나주(가변형)태양광 하부</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <th scope="row">나주(가변형)외곽</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <th scope="row">나주(수평)태양광 하부</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <th scope="row">나주(수평)외곽</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <th scope="row">나주 외기 환경</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <th scope="row"> 보성(차) </th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td colspan="2"></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <th scope="row"> 강진(사료) </th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td colspan="2"></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <th scope="row">오창</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td colspan="2"></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <th scope="row">영흥</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td colspan="2"></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--하단1-->
      <div class="container-fluid bg-3 text-center">
      </div><br>
      <%- include("../master/footer.ejs") %>
    </div>
  </div>
</body>

</html>