<!DOCTYPE html>
<html>

<head>
  <!-- Default Js -->
  <%- include("../master/head.ejs") %>
  <script src="/js/contents/master/mainUtil.js"></script>
  <%- include("./mediaQuery.ejs") %>
</head>

<body>
  <div class="wrap" style="background-image: url('/image/bg_1025.jpg'); background-color:#e9e9e9;">
    <div class="center">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="containera">
        <div class="text-center" style="background-color:#fff; height:auto;">
          <div class="row row_width  top_box" style="padding:5px;">
            <!--<div class="col-xs-2 sel_box">
              카테고리
              <select class="form-control form-control_st" id="device_list_sel" name="device_seq">
                <option>인버터</option>
                <option>센서</option>
              </select>
            </div>-->
            <div class="col-xs-3 sel_box" style="width: 250px">
              지점
              <select id="inverterSitesDom" class="form-control form-control_st" name="device_seq">
                <option>모두</option>
              </select>
            </div>
            <div class="col-xs-4 years" style="margin:15px 0 15px 0; background-color:#90bfe6; height:30px;">
              <div class="input_st" style="display:inline-block; width:210px; padding-left:28px; padding-right:15px; margin-left:20px;">
                <span style="float:left; line-height:2; margin-right:10px; ">조회간격</span>
                <select class="form-control" id="search_interval_sel" style="width:80px; margin-top:-2px; height:30px; padding: 4px 8px;">
                  <option value="min">1분</option>
                  <option value="min10">10분</option>
                  <option value="hour">1시간</option>
                  <option value="day">1일</option>
                  <option value="month">1달</option>
                  <option value="year">1년</option>
                </select>
              </div>
              <div id="sel_type_div_area" class="input_st">
                <label class="radio-inline">
                  <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="hour">일일
                </label>
                <label class="radio-inline">
                  <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="day">월간
                </label>
                <label class="radio-inline">
                  <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="month">년간
                </label>
                <label class="radio-inline">
                  <input type="radio" onclick="setterSelectType(this)" class="" name="searchType" value="range">기간선택
                </label>
              </div>

            </div>
            <div class="serch_st sel_box_data">
              날짜 &nbsp;
              <input class="input_tre" name="start" id="start_date_input" type="text" readonly="">
              <input class="input_tre" name="end" id="end_date_input" type="text" readonly="" hidden="hidden" style="display: none;">
              <button type="button" class="btn btn-primary" onclick="searchReport()" id="search">검색</button>
              <!-- <input type="image" src="image/2000px-Microsoft_Excel_2013_logo.svg.png" class="exc" onclick="doit('xlsx');"> -->
            </div>
          </div>
          <div class="table-responsive" style="overflow-x:visible;">
            <table class="table table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th scope="col" rowspan="2" style="width:5%">번호</th>
                  <th scope="col" rowspan="2" style="width:10%">시간</th>
                  <th scope="col" colspan="3" style="text-align:center; width:30%">태양광</th>
                  <th scope="col" colspan="3" style="text-align:center; width:20%">인버터</th>
                  <th scope="col" colspan="3" style="text-align:center; width:40%">발전현황</th>
                </tr>
                <tr>
                  <!-- <td style="width:8%;">경사일사량(W/㎥)</td> -->
                  <td style="width:7%;">DC전류(A)</td>
                  <td style="width:7%;">DC전압(V)</td>
                  <td style="width:7%;">DC전력(kW)</td>
                  <td style="width:7%;">AC전류(A)</td>
                  <td style="width:7%;">AC전압(V)</td>
                  <td style="width:7%;">주파수(Hz)</td>
                  <td style="width:7%;">AC 전력(kW)</td>
                  <td style="width:6%;">변환효율(%)</td>
                  <td style="width:8%;">누적발전량(kWh)</td>
                </tr>

              </thead>
              <tbody id="inverterReportsDom">
                <!-- <tr>
                  <td>1</td>
                  <td>2018-10-15 14:55:00</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr> -->
              </tbody>
            </table>
            <nav id="pagination" aria-label="...">

            </nav>
          </div>
        </div>
      </div>
      <!--하단1-->
      <div class="container-fluid bg-3 text-center">
      </div><br>
      <%- include("../master/footer.ejs") %>
    </div>
  </div>

</body>

</html>