<footer class="footer_area">
  <div>
    <p class="footer_copyright">Copyright © 2018. 에스엠소프트웨어(주) All Rights Reserved.</p>
    <p class="footer_logo">
      <img width="30" height="30" src="/image/common/sm_logo.png" />
      <span>에스엠소프트웨어(주)</span>
    </p>
  </div>
</footer>