<footer class="container-fluid text-center" style="background-color:rgba(242,242,242,0.9); ">
  <p style="display: flex; align-items: center; justify-content: center"><img src="/image/sm_logo.png" />에스엠소프트웨어(주)</p>
</footer>

<!-- <div id="footer">
  <div class="row_width footer_div">
    <p class="logo is_footer">
      <img src="/image/footer.png" />
    </p>
    <div class="footer_dsc">
      <address>전라남도 나주시 빛가람동</address>
      <span>Copyright@2018 SMSOFT. All Rights Reserved.</span>
    </div>

  </div>

</div> -->
<!-- <p style="font-size: 13px;"> Copyright@2017 KEPCO. All Rights Reserved.</p> -->

</div>