<footer class="container-fluid text-center footer_w">
  <div class="b_center fot">
    <p>COPYRIGHT 2005. 에스엠소프트웨어(주) ALL RIGHTS RESERVED.</p><img width="200" height="50" src="/image/sm_logo_kr.png" />
  </div>
</footer>

<!-- <footer class="container-fluid text-center" style="background-color:rgba(242,242,242,0.9); ">
  <div class="row_width footer_div">
    <p class="logo is_footer">
      <img src="/image/sm_logo_kr.png" />
    </p>
    <div class="footer_dsc">
      <address>전라남도 나주시 빛가람동</address>
      <span>Copyright@2018 SMSOFT. All Rights Reserved.</span>
    </div>

  </div>

</footer> -->
<!-- <p style="font-size: 13px;"> Copyright@2017 KEPCO. All Rights Reserved.</p> -->