<nav class="navbar navbar-inverse">
  <div class="header_top"><a href="login.html">login</a></div>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand tit_1" href="#">
        농업병행 태양광발전 모니터링
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
      <ul id="navigation" class="nav navbar-nav">
        <li><a href="main">메인</a></li>
        <li><a href="inverter">인버터</a></li>
        <li><a href="sensor">생육센서</a></li>
        <li><a href="trend">트렌드</a></li>
        <li><a href="report">보고서</a></li>

      </ul>
      <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>-->
    </div>
  </div>
</nav>

<div class="row" style="height:50px; max-width:1024px; margin:0 auto;">
  <div class="col-md-6" style="background-image:linear-gradient(#393939,#222222); height:50px;">


    <form>
      <select id="sel_city" name="city" class="city">
        <!-- <option value="1">10kW급 테스트배드(나주)</option>
        <option value="2">10kW급 테스트배드(보성)</option>
        <option value="3">10kW급 테스트배드(강진)</option>
        <option value="4">10kW급 테스트배드(오창)</option>
        <option value="5">10kW급 테스트배드(영흥)</option> -->
      </select>
    </form>



  </div>

  <div class="col-md-6" style="background-image:linear-gradient(#393939,#222222); height:50px;">

    <div class="weder" style="float:right;">
      <p id="currDate"></p>
      <img id="currWeatherImg" style="color:#fff; margin-top:4px; margin-right:10px; float:left;" />
      <p style="color:#fff;  margin-top:15px; float:left; margin-right:10px;">날씨</p>

      <input id="currWeatherTemp" style="color:#333; float:left; margin-right:5px;" class="wed" type="text" value="">

      <p style="color:#fff; margin-top:15px; float:left; ">℃</p>
    </div>
  </div>
</div>

<script>
  // 날씨 정보
  let currWeatherCastInfo = <%- JSON.stringify(currWeatherCastInfo) %>;
  // Site SelectBox를 구성하기 위한 목록 정보
  let siteList = <%- JSON.stringify(siteList) %>;
  // 현재 선택한 Site Id
  let siteId = <%- JSON.stringify(siteId) %>;
  matchingMenu(document.querySelector('#navigation'), <%- menuNum  %>, 'active');
  document.querySelector('#currWeatherImg').setAttribute('src', `image/weather/weather_${currWeatherCastInfo.wf}.png`)
  document.querySelector('#currWeatherTemp').setAttribute('value', currWeatherCastInfo.temp);

  setSiteList(document.getElementById('sel_city'), siteList, siteId)

  // 사이트 변경 시
  $('#sel_city').change(function () {
    location.href = window.location.pathname + '?siteid=' + $(this).val()
  })
</script>