<!--<script>-->
<!-- <%
menuNum = 1;
function matchingMenu(base,target) {
    return base === target ? 'active' : '';
}
%> -->
<!--</script>-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand tit_1" href="#">

        농업병행 태양광발전 모니터링
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>

        <li><a href="trend.html">트랜드</a></li>
        <li><a href="report.html">보고서</a></li>

      </ul>
      <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>-->
    </div>
  </div>
</nav>

<div class="row" style="height:50px; max-width:1024px; margin:0 auto;">
  <div class="col-md-6" style="background-image:linear-gradient(#393939,#222222); height:50px;">


    <form>
      <select name="city" class="city">
        <option value="naju">10kW급 테스트배드(나주)</option>
        <option value="Boseong">10kW급 테스트배드(보성)</option>
        <option value="gangjin">10kW급 테스트배드(강진)</option>
        <option value="ochang">10kW급 테스트배드(오창)</option>
        <option value="yeongheung">10kW급 테스트배드(영흥)</option>
      </select>
    </form>



  </div>

  <div class="col-md-6" style="background-image:linear-gradient(#393939,#222222); height:50px;">

    <div class="weder" style="float:right;">
      <img style="color:#fff; margin-top:4px; margin-right:10px; float:left;" src="image/con_w.png" />
      <p style="color:#fff;  margin-top:15px; float:left; margin-right:10px;">날씨</p>

      <input style="color:#333; float:left; margin-right:5px;" class="wed" type="text" value="12">

      <p style="color:#fff; margin-top:15px; float:left; ">℃</p>
    </div>
  </div>
</div>