<header>
  <div class="header_top"><a href="login">login</a></div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand tit_1" href="index.html">
          농업병행 태양광발전 모니터링
        </a>
      </div>
      <div id="myNavbar" class="collapse navbar-collapse navbar-right">
        <ul id="navigation" class="nav navbar-nav">
          <li><a href="main">메인</a></li>
          <li><a href="inverter">인버터</a></li>
          <li><a href="sensor">생육센서</a></li>
          <li><a href="trend">트렌드</a></li>
          <li><a href="report">보고서</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row" style="height:50px; max-width:1024px; margin:0 auto;">
    <div class="col-md-6 header_w_r">
      <form>
        <select id="sel_city" name="city" class="city">
        </select>
      </form>
    </div>
    <div class="col-md-6 header_w_r">
      <div class="nav_row_st_right">
        <span style="margin-right:40px;" id="currDate"></span>
        <span>날씨</span>
        <img id="currWeatherImg">
        <input type="text" id="currWeatherTemp" readonly class="form-control" style="text-align: center">
        <span class="Temperature">℃</span>
      </div>
    </div>
  </div>
</header>

<script>
  // 날씨 정보
  let currWeatherCastInfo = <%- JSON.stringify(currWeatherCastInfo) %>;
  // Site SelectBox를 구성하기 위한 목록 정보
  let siteList = <%- JSON.stringify(siteList) %>;
  // 현재 선택한 Site Id
  let siteId = <%- JSON.stringify(siteId) %>;
  matchingMenu(document.getElementById('navigation'), <%- menuNum  %>, 'active');
  document.querySelector('#currWeatherImg').setAttribute('src', `image/weather/weather_${currWeatherCastInfo.wf}.png`)
  document.querySelector('#currWeatherTemp').setAttribute('value', currWeatherCastInfo.temp);

  setSiteList(document.getElementById('sel_city'), siteList, siteId)

  // 사이트 변경 시
  $('#sel_city').change(function () {
    location.href = window.location.pathname + '?siteid=' + $(this).val()
  })
</script>